# 주피터 노트북 기본

## 셀 추가/삭제
- 코드버튼 클릭 - Python 코드 셀 추가
- Markdown버튼 클릭 = 마크다운 셀 추가

### 단축키
- Ctrl + Enter : 셀 실행
- Shift + Enter : 실행 후 새로운 셀 추가
- Enter : 현재 셀 진입
- ESC : 현재 셀 빠져나가기
- B : 현재 셀 아래 새 셀 추가
- A : 현재 셀 위 새 셀 추가
- M : 현재 셀 (Python) -> Markdown 셀 변경
- Y : 현재 셀 (Markdown) -> Python 셀 변경
- Shift + L : 셀 라인번호 표시 On/Off

In [7]:
print('여기는 파이썬 셀')

여기는 파이썬 셀

## 일반출력
```python
print('Hello, python!')
```

In [6]:
print('Hi~')

Hi~

### 이미지 추가
<img src="https://img.freepik.com/premium-photo/white-cockatoo-studio_87557-2750.jpg?w=740" height="400">
<img src="https://media.tenor.com/gcJ_J1YsR54AAAAd/parrot-cat.gif" width="400">

---

|제목|내용|비고|
|:-----|----------:|:----:|
|제목1|내용1|비고1|
|제목2|내용2|비고2|
|제목3|내용3|비고3|
|제목4|내용입니다.|비고4|
|제목입니다.|내용4|비고입니다|

### 주피터 노트북 디버깅

- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일(F10, F11)

In [22]:
# 나누기 함수
def divide(x, y):
    result = ''
    try:
        result = x // y
    except Exception as e:
        print(f'예외발생 : {e}')

    print('나누기 완료')
    return result

In [12]:
print(divide(7,0))

예외발생 : integer division or modulo by zero
나누기 완료

### 출력 Python과 차이점

변수 출력할 때
- 변수명만 입력 후 실행해도 결과출력
- print()도 동일하게 출력
    - 단, 변수만 쓸 때는 제일 마지막 변수만 출력
    - 여러번 출력하고 싶으면 print() 사용
    - 하지만, 변수를 그냥 출력할 때와 print() 출력 때랑 결과 다름!

In [27]:
a = 'Hello Python!'
a

'Hello Python!'

In [28]:
a
print(a)

Hello Python!

In [24]:
print(a)
print(a)

Hello Python!
Hello Python!

#### 경로 문제 해결

.py에서의 파일 경로와 .ipynb 경로가 다름
- .py : ./Day04/dummy_members.csv
- .ipynb : ./dummy_members.csv

In [30]:
import pandas as pd

df = pd.read_csv('./dummy_members.csv') #  주의점! Jupyter Notebook에서는 같은 폴더의 파일을 읽을 때 폴더명X
df

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,박지민,45067,대전광역시 금천구 개포로 (서윤문이읍),010-3984-5397,jihyei@example.net
1,1,김정웅,3883,제주특별자치도 청주시 흥덕구 영동대97길,02-8559-7137,seungminheo@example.net
2,2,문은지,90372,인천광역시 광진구 잠실69로,019-906-1071,sugjai@example.com
3,3,김예준,75466,경상북도 강릉시 역삼로,054-463-4341,eunjui@example.net
4,4,최도윤,91322,인천광역시 강남구 가락8로,041-888-7699,jia87@example.net
5,5,박미숙,76246,경상남도 계룡시 테헤란로,044-130-0614,sheo@example.org
6,6,김은서,64487,경상남도 이천시 논현8가 (숙자김박마을),064-792-7286,ryumigyeong@example.org
7,7,이승현,54690,전라북도 과천시 논현32가,042-353-9422,songhyeonjun@example.org
8,8,강지현,29985,경상남도 당진시 도산대거리,02-3145-0810,hayun72@example.net
9,9,김은경,22859,부산광역시 동작구 선릉거리 (보람배이읍),041-638-1234,minjun25@example.net

In [31]:
import os

os.getcwd()

'c:\\Users\\Administrator\\eclipse-workspace\\bigdata-python-2023\\Day04'

### 출력초과 문제

콘솔이나 Jupyter 셀 출력 전체가 나오지 않는 현상(성능적 문제 때문에 제약)

 + pd.options.display.max_columns = None
 + pd.options.display.max_rows = None

In [34]:
pd.options.display.max_columns = 10
pd.options.display.max_rows = 100
data = pd.read_csv('./dummy_members2.csv', encoding = 'utf-8')
data

,이름,우편번호,주소,전화번호,이메일
0,황종수,22172,경기도 부천시 오정구 서초중앙가,010-7473-2961,seoyeonryu@example.net
1,남성민,95536,제주특별자치도 고양시 일산서구 역삼590로,061-263-5708,bagseonghyeon@example.net
2,박경숙,49640,광주광역시 광진구 개포거리 (보람진동),017-807-2911,ijuweon@example.com
3,박지연,47896,세종특별자치시 동작구 가락거리 (현정지김동),011-673-1138,minseog94@example.com
4,김민지,8232,강원도 안양시 만안구 오금11가 (준서고문읍),053-243-0954,vhwang@example.net
...,...,...,...,...,...
995,김서윤,98274,충청남도 오산시 영동대936가 (동현이박면),032-218-2757,gwangsuseo@example.org
996,박민석,72622,울산광역시 남구 영동대길,017-338-5439,sanghuni@example.org
997,장정자,54372,울산광역시 영등포구 선릉0로 (명숙한김면),062-645-5178,agim@example.net
998,이병철,78712,제주특별자치도 화천군 서초대417가,064-732-9691,yeeungim@example.org
999,김순옥,44514,대구광역시 송파구 개포44길,042-765-5243,yeongsug66@example.org